* {padding:0px; margin:0px;}

.level_1 {dbackground-image:url('../images/grad2.png');height:120px; text-align:center; color:silver;}

.level_2 { 	position:relative;
		background-image:url('../images/button.png');
		background-repeat:no-repeat;
 		min-height:40px; 
		margin-left:auto;
		margin-right:auto;
		width:622px;
		swidth:46.6%; 
	}

.level_3 { 	position:fixed;
		 top:90px; 
		 left:170px; 
		 z-index:1000; 
		 }
		 
.level_5 {	top:10px;
		bottom:0px; 
		position:relative;
		sbackground-color:black;
		margin-left:auto;
		width:500px;
		height:70px;
		margin-right:auto;
		opacity:0.6;
		color:#000;
		}

#lodingimg {
		display:none;
		margin:3px


}

.level_4 { 	position:relative; 
		background-color:#E5E5E5;
		border:1px solid black;
		width:600px;
		min-height:600px;
		margin-left:auto;
		margin-right:auto;
		overflow:hidden;
		
		}

.level4_b {
width:300px;
position:relative;
margin:50px 0px 10px 100px;
lmargin-left:auto;
lmargin-right:auto;
overflow:hidden;

}

.result1{
 margin: 2px;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}

.level4_li {
position:relative;
margin: 5px;
  border: 1px solid #ffffff;
  padding:10px;

}

.result1 img {
display: inline;
  margin: 3px;
  padding:10px;

}


.level4_data {
		position:relative;
		width:600px;
		min-height:300px
		position:absolute;
		margin:10px;
		}



.level4_b {  
		position:relative;;
		margin-left:auto;
		margin-right:auto;
		}


ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

.a {
position:relative;
margin:10px;
min-height:200px;
width:600px;
overflow:hidden;
}

.anchor1 {
position:relative;
margin:10px 12px 0px 30px;
lwidth:100px;
cursor:pointer;
color:#000056;
text
}



.anchor1:link,.achor1:visited
{
	display:block;
	width:120px;
	font-weight:bold;
	color:#0A0F0F;
	margin :10px 1px 0px 0px;
	text-align:center;
	padding:1px;
	text-decoration:none;
	text-transform:uppercase;
}
.anchor1:hover,.anchor1:active
{
	color:#9999CC;
}


li
{	position:relative;
	float:left; 
	display:inline;
}

.anchor:link,.achor:visited
{
	display:block;
	width:120px;
	font-weight:bold;
	color:#0A0F0F;
	margin :10px 1px 0px 0px;
	text-align:center;
	padding:1px;
	text-decoration:none;
	text-transform:uppercase;
}
.anchor:hover,.anchor:active
{
	color:#fff;
}

body {background-color:#e7ebf2;
F5FFFA;}

p.para {
	position:relative;
	margin 1000px;
	padding 0px;

}
#header
 {
 z-index:-1;
 height:38px;
 background-color:#3B5998;
 }

.mainlink { display:inline;}

.startlink {  position:relative;
		color:BLACK;
		top:150px;
		margin:150px;
		text-align:center;
		}
#logout
	{ 	position:absolute;
		top:40px;
		right:10px;
		fbackground-color:#F5FFFA;
		display:block;
		text-decoration:none;
		padding:2px;
		}

#logout1
	{ 	position:absolute;
		top:40px;
		left:10px;
		text-decoration:none;
		apadding:2px;
		aborder:1px solid blue;
		}

a	{
		text-decoration:none;
	}

.result2
{
position:relative;
lmargin:20px;
height: auto;
  width: auto;
}

